body {
  background-image: src="light.png";
  font-family: Arial;
  background-color: #f9f9f9;
  margin: 20px;
}

h1 {
  font-family: Source Serif Pro;
  color: #333;
  text-align: left;
  font-size: 3em;
  margin: 20px 0;
  border-bottom: 4px solid #ddd;
  padding-bottom: 10px;
}

p {
  font-family: Arial;
  font-size: 1.2em;
  line-height: 1.5;
  color: #666;
}
